@page
@model BookingVilla.Pages.Auth.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/loginForm.css" />
    <style>
        body {
            background-image: url('/img/hotel03.jpg');
            background-size: cover;
        }

        .ftco-section {
            padding: 0;
        }
    </style>
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Welcome</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="wrap">
                        <div class="img" style="background-image: url('/img/bg-1.jpg');"></div>
                        <h3 style="text-align: center; color: red">@TempData["Error"]</h3>
                        <div class="login-wrap p-4 p-md-5">
                            <h3 class="mb-4 text-center">Sign In</h3>
                            <form method="post">
                                <div class="form-group mt-3">
                                    <input asp-for="Username" class="form-control" required />
                                    <label class="form-control-placeholder" for="Username">Username</label>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Password" type="password" class="form-control" required />
                                    <label class="form-control-placeholder" for="Password">Password</label>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <div>
                                        <a href="/ForgotPassword">Forgot Password?</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                                </div>
                            </form>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Google</button>
                            </div>
                            <p class="text-center">Not a member? <a href="/Auth/Register">Sign Up</a></p>
                            <button class="btn btn-success" style="position: absolute; left: 0; bottom: 0" onclick="goToHome()">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function goToHome() {
            window.location.href = "/Index";
        }
    </script>
</body>
</html>
